/* Transaction.css */
.transaction-container {
    width: 100%;
    margin: 20px auto;
  }
  
  .transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .transaction-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    font-size: large;

  }
  
  .transaction-button:hover {
    background-color: #0056b3;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #5e5a66;
    font-weight: 700;
  }
  
  .transaction-table th,
  .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: medium;
  }
  
  .transaction-table th {
    background-image: linear-gradient(135deg, #501194 0%, #ea5455 100%);
    font-size: 20px;
  }
  
 
  .transaction-table tr:hover {
    background-color: #e8f0fe;
  }
  
  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    overflow: auto;
    outline: none;
    padding: 20px;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'rgba(255, 255, 255, 0.75)';
  }
  