.profile {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
}

.profile h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.profile p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 70%;
    height: 70%;
    border-radius: 20%; 
}

.customFileUpload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}