.layout {
    display: flex;
    height: 100vh; 
}
  
.sidebar {
    width: 260px;
    padding: 36px 20px;
}
  
.content {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    padding: 20px;
    height: 100%; 
}
  