.sidebar {
    width: 260px;
    padding: 36px 20px;
  }
.profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(8, 8, 69);
    border-radius: 20px;
    background-color: rgb(6, 1, 22);
    height: 220px;


    font-family: "Roboto", sans-serif;
    font-style:normal;
}
.calendar-svg{
    font-size: 3.2rem;
    margin-right: 250px;
    
}


p.date{ 
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 250;
    font-size: 4.0rem;
    text-align: center;
    color: rgb(207, 169, 215);
}

.time{
    font-size: 4.2rem;
    font-weight: 200;
    color: #c6c1c1;
}

.user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.0rem;
    margin-left: 1.5rem;
}

.user-info{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.2rem;

}

.user-name{
    font-size: 2.2rem;
    margin-bottom: 0%;
    
}

.name-title{
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
    color: rgb(46, 196, 23);
    margin-top: 1.0rem;
}


.option{
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
    display: flex;
    flex-direction: row;
    list-style: none;
    display: block;
    font-size: 1.4rem;
    margin-bottom: 30px;    
}
.option li svg {
    margin-right: 12px;
}
.option li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.home{
    display: flex;
    align-items: center;
}
.home button {
    color: white;
  }
  

.page-items{
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
    display: flex;
    flex-direction: row;
    list-style: none;
    display: block;
    font-size: 1.4rem;
    /* margin-bottom: 50px; */
}

.page-items li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.page-items li svg {
    margin-right: 12px; /* Adjust margin as needed */
}

.sub-header{
    margin-left: 30px;
    
}
.logout {
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
    display: flex;
    flex-direction: column;
    list-style: none;
    display: block;
    font-size: 1.4rem;
}
.logout li{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.logout svg{
    margin-right: 8px;
}
