@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    font-size: 14px;
}
body{
    background-color: #070319;
}
.main-content {
    flex: 1;
    padding: 5px;
  }
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        /* "nav nav nav nav" */
        " financial-info financial-info main"
        " content1 content2 content3"
        " footer footer footer";
    grid-gap: 0.2rem;
}

nav{
    background: #100d1c;
    grid-area: nav;
}

#financial-info{
    background: #100d1c;
    grid-area: financial-info;
}




#sidebar{
    background: #100d1c;
    grid-area: sidebar;
    border-radius: 20px;
}

#content1{
    background: #100d1c;
    
    grid-area: content1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
}

.monthly-title{
    text-align: center; /* Center the title */
    font-size: 20px;
    background-color: rgb(16, 2, 27);
    color: rgb(104, 34, 210);
    border-radius: 6px;
    width: 75%;
    border-radius: 12px;
    /* text-decoration: underline; */
}



body{
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
}
#content2{
    background: #100d1c;
    grid-area: content2;
    border-radius: 20px;
}

#content3{
    background: #100d1c;
    grid-area: content3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background: #100d1c;
    grid-area: footer;
    border-radius: 20px;
    height: 100%;
} 

main{
    background: #100d1c;
    grid-area: main;
    max-width: 1200px;
    padding: 1.0rem;
    border-radius: 20px;
}

#myChart{
    width: 75%;
    height: 90%;
    
}



/**************** Transaction History *********************/


#content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction-title {
    text-align: center;
    font-size: 20px;
    background-color: rgb(16, 2, 27);
    color: rgb(104, 34, 210);
    border-radius: 6px;
    width: 75%;
    margin-bottom: 0;
    
}

.transactions {
    /* background-color: rgb(16, 2, 27); */
    border-radius: 20px;
    width: 90%;
    max-height: 200px; /* Set a fixed height for the container */
    padding-right: 15px; /* Add padding to accommodate the scrollbar */
    padding-left: 10px;
    overflow-y: auto; /* Enable vertical scrollbar when necessary */
}

.transaction-sub-title {
    display: flex;
    justify-content: space-between;
    color: rgb(183, 179, 179); /* Set the color of the sub-title */
    margin-top: 5px;
    padding: 0px;
}

.transactions ul {
    padding: 0px;
    margin: 0px;
}

.transactions li {
    /* background-color: rgb(9, 9, 66); */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.0rem;
    font-weight:lighter;
    border-bottom: 1px solid rgb(54, 52, 52);
    color: white;
}

.Type,
.Transaction,
.amount {
    flex: 1; /* Distribute the space equally */
    text-align: center; /* Center the text */
}

.transaction-sub-title h3 {
    margin: 0; /* Remove default margin */
    padding-bottom: 0; /* Remove default padding */
}

.transactions li h4 {
    font-weight: lighter;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(78, 15, 173); /* Set the color of the thumb */
    border-radius: 4px; /* Round the corners of the thumb */
}

.transactions li .debit {
    color: #bd2929; /* Set color to red for Debit transactions */
}

.transactions li .credit {
    color: #2dc62d; /* Set color to green for Credit transactions */
}


/************************ Content One ***********************/

#content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reminder-title {
    text-align: center;
    font-size: 20px;
    background-color: rgb(16, 2, 27);
    color: rgb(104, 34, 210);
    border-radius: 6px;
    width: 75%;
    margin-bottom: 0;
}

.reminders {
    /* margin-top: 10px; */
    width: 90%;
    height: 200px;
    overflow-y: auto;
    padding-right: 10px;
}

.reminder {
    display: flex;
    width: 100%;
    font-size: 17px;
    font-weight: 100;
    color: rgb(201, 206, 206);
    /* position: relative; */
    flex-wrap: wrap; /* Allow content to wrap if it exceeds the container's width */
    padding-top: 10px;
    border-bottom: 1px solid rgb(54, 52, 52);
}

.reminder-content {
    flex: 1; /*take up remaining space*/
    word-wrap: break-word; /* Ensure content stays contained within its container and wraps if needed */
    
    padding-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    
}

button {
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid rgb(59, 6, 158);
    padding-left: 6px;
    padding-right: 6px;
}

.buttons button {
    margin-left: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgb(59, 6, 158);
    transition: background-color 0.5s;
}

.buttons button:hover {
    background-color: rgba(241, 237, 248, 0.1);
}

.remove-svg {
    fill: rgb(243, 13, 13);
}

.complete-svg {
    fill: rgb(250, 253, 250);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(78, 15, 173);
    border-radius: 4px;
}


/***************************** Financial - Info *****************************/
#financial-info{
    border-radius: 20px;
}
.checking-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: "Roboto", sans-serif;

    width: 50%;
    height: 50%;
    /* background-color: rgb(2, 2, 31); */
}
.credit-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: "Roboto", sans-serif;

    width: 50%;
    height: 50%;
    /* background-color: rgb(2, 2, 31); */
    
}
.available-balance-text{
    font-weight: 100;
    font-size: 3.2rem;
}

.available-balance-amount{
    font-weight: 200;
    font-size: 3.5rem;
    color: rgb(8, 168, 43);
}

.credit-balance-text{
    font-weight: 100;
    font-size: 2.2rem;
}

.credit-balance-amount{
    font-weight: 200;
    font-size: 3.0rem;
    color: rgb(181, 8, 8);
}

.credit-card-payment-button{
    border-radius: 10px;
    padding: 4px;
    margin-top: 10px;
    color:rgb(189, 191, 193);
}

.credit-card-view-details-button{
    margin-left: 10px;
    border-radius: 10px;
    padding: 4px;
    margin-top: 10px;
    color:rgb(189, 191, 193);
}

/********************* Main ************************/
.mainContainer{
    background: #100d1c;
    grid-area: main;
    /* width: 100%; Full width */
    max-width: 1200px; /* Limiting maximum width */
    padding: 1.0rem;
    border-radius: 20px;
}
.small-expenses-title{
    text-align: center;
    font-size: 20px;
    background-color: rgb(16, 2, 27);
    color: rgb(104, 34, 210);
    border-radius: 6px;
    width: 100%;
    margin-bottom: 0;
}

.netflix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(81, 80, 80);
}

.expense{
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.expense-button{
    /* margin-left: 40px; */
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: white;
}

.disney-plus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(81, 80, 80);
}

.amazon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(81, 80, 80);

}

.amazon-logo img {
    width: 50px; /* Set the width of the image */
    height: 75px; /* Maintain the aspect ratio */
}

/******************************* Living-Expense ******************************/
.footerContainer{
    background: #100d1c;
    grid-area: footer;
    border-radius: 20px;
    height: 100%;
}
.living-expense{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(0, 0, 0); */
    width: 25%;
    height: 100%;
    font-size: 30px;
    border: 1px solid rgb(37, 34, 40);
    border-radius: 15px;
    
}
.summary-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.total-monthly-expense-title{
    text-align: center;
    font-size: 2.3rem;
}
.total-monthly-expense-text{
    font-size: 2.2rem;
    font-weight: 100;
    margin-bottom: 7px;
}

.summary-expenses{
    display: flex;
    height: 100%;
}

.expense-toggle-button{  
    width: 50%;
    height: 25%;
    border: 1px solid rgb(80, 7, 152);
    border-radius: 50px;
    padding: 5px;
    font-weight: 300;
    color: rgb(230, 225, 231);
}

.living-expense {
    opacity: 0;
    transition: opacity 1.5s ease;
    cursor: pointer;
    pointer-events: none; 
}

.living-expense:hover {
    background-color: #6608c4;
}

.living-expense.visible {
    opacity: 1;
    pointer-events: auto;
}

.hidden {
    display: none;
  }

/*********************** Progress Bar *********************************/
.progress-title{
    text-align: center;
    font-size: 20px;
    background-color: rgb(16, 2, 27);
    color: rgb(104, 34, 210);
    border-radius: 6px;
    width: 75%;
    margin-bottom: 0;
}
.monthly-income-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.monthly-income{
    font-size: 1.6rem;
}

.monthly-income-amount{
    font-size: 2.2rem;
    text-align: center;
}

.progress-container {
    margin-top: 30px;
    width: 50%;
    background-color: #8b8383;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden; /* Hide the overflow for the glowing effect */
    position: relative; /* Position relative for absolute positioning of text */
}

.progress-bar {
    width: 0%; /* Start with 0% */
    height: 30px;
    background-color:#4e16a5;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
    animation: fillProgressBar 3s ease forwards; /* Animation to fill the progress bar */
}

.progress-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #4caf50;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth transition animation */
}

@keyframes fillProgressBar {
    from {
        width: 0%;
    }
    to {
        width: 78%; /* Adjust this to your desired value */
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50;
    }
    to {
        box-shadow: 0 0 20px #4caf50, 0 0 30px #4caf50, 0 0 40px #4caf50;
    }
}

.total-spent{
    margin-top: none;
    
}
.amount-spent-text{
    font-size: 1.2rem;
}
.amount-spent{
    font-size: 1.3rem;
    
}
